[[source]]

url = "https://pypi.python.org/simple"
name = "pypi"
verify_ssl = true


[packages]

bleach = "*"
certifi = "*"
chardet = "*"
decorator = "*"
entrypoints = "*"
"html5lib" = "*"
idna = "*"
ipykernel = "*"
ipython = "*"
ipython-genutils = "*"
ipywidgets = "*"
jedi = "*"
"jinja2" = "*"
jsonschema = "*"
jupyter = "*"
jupyter-client = "*"
jupyter-console = "*"
jupyter-core = "*"
markupsafe = "*"
mistune = "*"
nbconvert = "*"
nbformat = "*"
notebook = "*"
numpy = "*"
pandas = "*"
pandocfilters = "*"
parso = "*"
pexpect = "*"
pickleshare = "*"
prompt-toolkit = "*"
ptyprocess = "*"
pygments = "*"
python-dateutil = "*"
pytz = "*"
pyzmq = "*"
qtconsole = "*"
requests = "*"
requests-futures = "*"
simplegeneric = "*"
terminado = "*"
testpath = "*"
tornado = "*"
traitlets = "*"
"urllib3" = "*"
wcwidth = "*"
webencodings = "*"
widgetsnbextension = "*"


[dev-packages]

